.visible {
  visibility: visible
}

.z-10 {
  z-index: 10
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-4 {
  margin-top: 1rem
}

.ml-2 {
  margin-left: 0.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mb-0 {
  margin-bottom: 0px
}

.ml-\[13\%\] {
  margin-left: 13%
}

.ml-\[5\%\] {
  margin-left: 5%
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-12 {
  margin-top: 3rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.ml-5 {
  margin-left: 1.25rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-\[300px\] {
  margin-top: 300px
}

.mt-\[30px\] {
  margin-top: 30px
}

.mt-8 {
  margin-top: 2rem
}

.mt-7 {
  margin-top: 1.75rem
}

.mt-9 {
  margin-top: 2.25rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.flex {
  display: flex
}

.h-12 {
  height: 3rem
}

.h-full {
  height: 100%
}

.h-16 {
  height: 4rem
}

.h-5 {
  height: 1.25rem
}

.w-full {
  width: 100%
}

.w-5\/6 {
  width: 83.333333%
}

.w-6\/12 {
  width: 50%
}

.w-\[95\%\] {
  width: 95%
}

.w-10\/12 {
  width: 83.333333%
}

.w-9\/12 {
  width: 75%
}

.w-\[88\%\] {
  width: 88%
}

.w-\[90\%\] {
  width: 90%
}

.w-\[70\%\] {
  width: 70%
}

.w-\[25\%\] {
  width: 25%
}

.w-1\/2 {
  width: 50%
}

.w-\[80\%\] {
  width: 80%
}

.flex-grow {
  flex-grow: 1
}

.appearance-none {
  appearance: none
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-0 {
  border-width: 0px
}

.border-highlight {
  --tw-border-opacity: 1;
  border-color: rgb(84 215 255 / var(--tw-border-opacity))
}

.border-gray-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(213 213 213 / var(--tw-border-opacity))
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity))
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(12 18 51 / var(--tw-border-opacity))
}

.bg-highlight {
  --tw-bg-opacity: 1;
  background-color: rgb(84 215 255 / var(--tw-bg-opacity))
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(240 252 255 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-gray-faded {
  background-color: rgba(0,0,0,0.1)
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(12 18 51 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.py-\[13px\] {
  padding-top: 13px;
  padding-bottom: 13px
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.pt-\[10px\] {
  padding-top: 10px
}

.pt-\[8px\] {
  padding-top: 8px
}

.pt-7 {
  padding-top: 1.75rem
}

.pl-3 {
  padding-left: 0.75rem
}

.pr-8 {
  padding-right: 2rem
}

.pt-3 {
  padding-top: 0.75rem
}

.pt-5 {
  padding-top: 1.25rem
}

.text-center {
  text-align: center
}

.font-sans {
  font-family: Poppins
}

.text-18px {
  font-size: 18px
}

.text-14px {
  font-size: 14px
}

.text-16px {
  font-size: 16px
}

.text-12px {
  font-size: 12px
}

.text-20px {
  font-size: 20px
}

.font-bold {
  font-weight: 700
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(240 252 255 / var(--tw-text-opacity))
}

.text-highlight {
  --tw-text-opacity: 1;
  color: rgb(84 215 255 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-gray-primary {
  --tw-text-opacity: 1;
  color: rgb(129 129 129 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(12 18 51 / var(--tw-text-opacity))
}

.text-yellow-500 {
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity))
}

.text-green-500 {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .sm\:w-\[75\%\] {
    width: 75%
  }
}

@media (min-width: 768px) {
  .md\:w-\[45\%\] {
    width: 45%
  }
}

@media (min-width: 1024px) {
  .lg\:w-\[30\%\] {
    width: 30%
  }
}

@media (min-width: 1280px) {
  .xl\:w-\[25\%\] {
    width: 25%
  }
}